.overlay {
  position: fixed;
  z-index: 5;
  height: 100%;
  width: 100%;
  /* background-color: #000291;
  opacity: 50%; */
  background-color: rgba(2, 0, 110, 0.56);
  backdrop-filter: blur(8px);
}
