@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .login,
  .sign-up,
  .forgotten-password,
  .reset-password {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .consoles {
    padding: 30px;
  }
  .mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .app-card {
    width: 100%;
  }
  .navbar {
    padding: 0 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-padding {
    width: 1500px;
    height: auto;
    margin-top: 5rem;
  }
}
