@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .login,
  .sign-up,
  .forgotten-password,
  .reset-password {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
