@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tag_green {
  background-color: rgba(0, 165, 0, 0.25);
  color: rgb(0, 120, 0);
}

.tag_blue {
  background-color: rgba(0, 30, 165, 0.25);
  color: rgb(0, 30, 165);
}
